WIT AD MikeBishop DISCUSS

```
# IESG review of [draft-ietf-roll-enrollment-priority-18](https://datatracker.ietf.org/doc/draft-ietf-roll-enrollment-priority/18/)

CC @MikeBishop

## Discuss

### Section 2, paragraph 2
```
     The term 6LR means 6LowPAN Router, and is defined in [[RFC6606](https://datatracker.ietf.org/doc/rfc6606/)].  It
     refers to a router that forwards packets in a 6LowPAN network.
```
Given how pervasively 6LR is used throughout this document, is [RFC6606](https://datatracker.ietf.org/doc/rfc6606/) in fact
only an Informative reference? It's unclear to me that one could fully implement
this specification without consulting it.

Comment (2026-08-17) Sent

## Comments

### Section 1.1, paragraph 2
```
     There are a variety of local metrics which a 6LowPAN Router (6LR)
     [[RFC6066](https://datatracker.ietf.org/doc/rfc6066/)] can use to determine if it should provide the _Join Proxy_
```
It is unlikely that "TLS Extension Definitions" are the intended citation.

As others have noted, I'd guess you meant to reference [RFC6606](https://datatracker.ietf.org/doc/rfc6606/) again, and
[RFC6066](https://datatracker.ietf.org/doc/rfc6066/) can be removed from this document's references entirely.

### Section 1.1, paragraph 1

These reasons seem like reasons a node would not announce itself.
Perhaps adjust the first sentence to that orientation?

### Section 2, paragraph 6

This disambiguation between competing uses of the same English word is
important, and thank you for including it. However, I find the number-prefix
notation a bit confusing. Perhaps something like "The term \"Join\" has been
used in two different senses in related documents. First, [[RFC9031](https://datatracker.ietf.org/doc/rfc9031/)]..."

### Section 3.1, paragraph 4

The Figure shows a Length field which does not appear in the text.

### Section 3.1, paragraph 11

Does this warrant a SHOULD/MUST?

### Section 3.1, paragraph 11

How does the root handle a DODAG size greater than the one representable in this
many bits (491k)? We may think it's unlikely today, but we should still say what
happens.

### Section 3.2, paragraph 4

This section is inconsistent about whether vl/vr are the contents of the option
or the Version Number from that option. Consider clearly stating one definition
up front, before using them in the process.

### Section 3.2, paragraph 9

It's not clear to me how to reconcile vl-does-not-update-vr with the
6LR's option (in the first paragraph) to update Version Number and Min Priority.
Consider separately stating how a 6LR decides what to send downstream.

### Section 4.1, paragraph 2

Is there a rationale for why this value provides "the best reaction"?

## Nits

All comments below are about very minor potential issues that you may choose to
address in some way - or ignore - as you see fit. Some were flagged by
automated tools (via https://github.com/larseggert/ietf-reviewtool), so there
will likely be some false positives. There is no need to let me know what you
did with these suggestions.

### Typos

#### "Abstract", paragraph 1
```
-    at any given time.  Currently, Join Proxies (6LowPAN Routers) make
-                                                    ^
+    at any given time.  Currently, Join Proxies (6LoWPAN Routers) make
+                                                    ^
```

#### Section 1, paragraph 1
```
-    to utilize a nearby 6LowPAN Router as a Join Proxy.
-                           ^
+    to utilize a nearby 6LoWPAN Router as a Join Proxy.
+                           ^
```

#### Section 1.1, paragraph 2
```
-    There are a variety of local metrics which a 6LowPAN Router (6LR)
-                                                    ^
+    There are a variety of local metrics which a 6LoWPAN Router (6LR)
+                                                    ^
```

#### Section 1.1, paragraph 4
```
-    nodes are not yet known to be trustworthy, the introduction of a lot
-                                             ^
-    of traffic from could be part of a denial of service attack.
+    nodes are not yet known to be trustworthy; the introduction of a lot
+                                             ^
+    of traffic from them could be part of a denial of service attack.
+                  +++++
```

#### Section 1.1, paragraph 7
```
-    Section Section 3.1 explains how these fields affect the Trickle
-   --------
```

#### Section 2, paragraph 2
```
-    The term 6LR means 6LowPAN Router, and is defined in [[RFC6606](https://datatracker.ietf.org/doc/rfc6606/)].  It
-                          ^
-    refers to a router that forwards packets in a 6LowPAN network.
-                                                     ^
+    The term 6LR means 6LoWPAN Router, and is defined in [[RFC6606](https://datatracker.ietf.org/doc/rfc6606/)].  It
+                          ^
+    refers to a router that forwards packets in a 6LoWPAN network.
+                                                     ^
```

#### Section 4, paragraph 1
```
-    in the node is via a custom firmware load, or a vendor proprietary
-                                                          ^
+    in the node is via a custom firmware load, or a vendor-proprietary
+                                                          ^
```

#### Section 7, paragraph 1
```
-    This has been reviewed by Charlie Perkins, Rifaat Shehk-Yusek, Dave
-                                                                ^
+    This has been reviewed by Charlie Perkins, Rifaat Shehk-Yusef, Dave
+                                                                ^
```

#### Section 7, paragraph 2
```
-    Talaulika was the responsible AD and provided many editorial
+    Talaulikar was the responsible AD and provided many editorial
+             +
```

### Section 1.1, paragraph 7

"occupancy of the bandwidth" => "bandwidth utilization"?

### Section 3.1, paragraph 13

Perhaps: ..."inconsistent"; if not, the node retransmits...

### Outdated references

Document references `[draft-ietf-roll-dao-projection](https://datatracker.ietf.org/doc/draft-ietf-roll-dao-projection/)`, but that has been
published as `[RFC9914](https://datatracker.ietf.org/doc/rfc9914/){quote}.

### Grammar/style

#### Section 1.1, paragraph 3
```
 from them could be part of a denial of service attack. This extension inclu
                              ^^^^^^^^^^^^^^^^^
```
It appears that hyphens are missing.

#### Section 3.2, paragraph 6
```
ecosystem has not included a management protocols to date. A future mechanis
                           ^^^^^^^^^^^^^^^^^^^^^^
```
The plural noun "protocols" cannot be used with the article "a".

#### Section 3.2, paragraph 6
```
nagement protocols to date. A future mechanisms, such as [I-D.ietf-roll-capa
                            ^^^^^^^^^^^^^^^^^^^
```
The plural noun "mechanisms" cannot be used with the article "A". Did you mean
"A future mechanism" or "future mechanisms"?

#### Section 4, paragraph 1
```
IO messages. In effect, the 6LR's sub-tree below a node without support for t
                                  ^^^^^^^^
```
This word is normally spelled as one.

#### Section 4, paragraph 1
```
nrollment priority. In the absence of of this metric, a 6LR will need to bas
                                   ^^^^^
```
Possible typo: you repeated a word.
```