Introduction - add more reason/summary for referenced documents

```
74 1.  Introduction

76   [RFC7554] describes the use of the Time-Slotted Channel Hopping
77   (TSCH) mode of [ieee802154].  [RFC9031] and [RFC9032] describe
78   mechanisms by which a new node (the "Pledge") can use a nearby router
79   as a Join Proxy.  [RFC9032] describes an extension to the 802.15.4
80   Enhanced Beacon that is used by a Join Proxy to announce its
81   existence such that Pledges can find them.

<editorial> There are 4 specs being referenced here with very little of an
introduction or context about those specs. How about the following to make
the sentences flow better around the references so they don't feel like a
list of references, but rather a narrative?

The adaption of the Time-Slotted Channel Hopping (TSCH) mode of
[IEEE802154] for use in 6TiSCH networks is described in [RFC7554]. The
security and onboarding framework for these networks, described in
[RFC9031]
and [RFC9032], allows a new node, known as a "Pledge", to utilize a nearby
6LowPAN Router as a Join Proxy. To facilitate discovery, [RFC9032]
specifies
extensions to the IEEE 802.15.4 Enhanced Beacon that allow a Join Proxy to
announce its presence, enabling Pledges to identify and select an
appropriate entry point into the network. Currently, Join Proxies make
local
decisions about whether to facilitate a Pledge's enrollment based only on
their immediate resources.

This document introduces Routing Protocol for Low-Power and Lossy Networks
(RPL) extensions to ensure that enrollment remains orderly, prevents
localized congestion at specific Join Proxies, and allows the network to
stay within its operational capacity limits.

```
