add references to 6206 and 6550

```
<major> Can a reference to RFC6206 (section 4.2?) and RFC6550 section 8.3
be
added on similar lines as the previous field description?

```